
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container" style="background-color: black;">

<div class="col-6 col-md-4" style="text-align: center;background-color: black; ">
<h2>Checkin</h2>

<form action = "/neighbors/show/"method="post" style="color: white;">
    <h2 style="color: white;"> This is checkin page</h2>

   
    <br>
    <br>

    <input placeholder ="name" type="text" id="username" name="username"> <br>
    <input placeholder ="password" type="text" id="userimage" name="userimage"><br>
    <input placeholder ="long" type="text" id="long" name="long"><br>
    <input placeholder ="lat" type="text" id="lat" name="lat"><br>
    <input type="submit" value="Submit">


</form>
</div>
    </div>
  
    
{% endblock %}